.dashboard {

    &__content {
        width: 100%;
        margin: 10rem auto;
        display: flex;

        &__left {
            margin: 1rem;
            width: 30%;
            height: 60rem;
            border: 1px solid white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        &__right {
            margin: 1rem;
            width: 70%;
            height: 60rem;
            border: 1px solid white;
        }
    }
}

.basic-info {
    font-size: 2.5rem;
    
    &__ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20rem;

        border: 1px solid white;
    }

    &__goal {
        margin: 0 auto;

        &__label {
            display: inline-block;
            padding: 1rem;
        }

        &__info {
            display: inline-block;
            padding: 1rem;
        }
    }

    &__tdee {
        margin: 0 auto;

        &__label {
            display: inline-block;
            padding: 1rem;
        }

        &__info {
            display: inline-block;
            padding: 1rem;
        }
    }

    &__recommended {
        margin: 0 auto;

    }
}

.quick-add {
    border: 1px solid white;
        padding: 1rem;

    &__header {
        font-size: 2rem;
    }
    
    &__form {
        padding: 1rem;
    }

    &__label {
        display: block;
        padding: 1rem;
        font-size: 2rem;
    }

    &__date {
        font-size: 2rem;
    }

    &__input {
        font-size: 2rem;
    }

    &__button {
        font-size: 2rem;
    }
}