
.data-entries {
    background: url('../images/dashboard-background.png');
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &__overlay {
        background-image: linear-gradient(to right, rgba($color-one, .6), rgba($color-one, .6));
        height: 100vh;
        width: 100vw;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__toggle {
        font-size: 1.75rem;
        display: inline-block;
        padding: 2rem;
        border: 1px solid $color-two;
        width: 20%;
        text-align: center;
        margin: 1rem 0rem 1rem 10rem;
        border-radius: 1rem;

        &:hover {
            cursor: pointer;
            background-image: linear-gradient(to right, rgba($color-two, .3), rgba($color-two, .3));
            color: $color-two;
        }
    }

    &__left {
        display: inline-block;
        width: 70%;
        vertical-align: top;
        padding-top: 10rem;
        
    }

    &__right {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        margin-top: 20rem;
        padding: 3rem 5rem;
        border: 1px solid $color-two;
        border-radius: 1rem;
    }

    &__selected {

        &__header {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        &__ul {
            font-size: 2rem;
            line-height: 1.5;            
            margin-left: 2rem;
        }

        &__date {

        }

        &__calories {

        }

        &__weight {

        }

        &__delete {
            font-size: 1.75rem;
            display: inline-block;
            padding: 2rem;
            border: 1px solid $color-two;
            width: 90%;
            text-align: center;
            margin: 1rem .5rem;
            border-radius: 1rem;

            &:hover {
                cursor: pointer;
                background-image: linear-gradient(to right, rgba($color-two, .3), rgba($color-two, .3));
                color: $color-two;
            }
        }

        &__add-new {
            font-size: 1.75rem;
            display: inline-block;
            padding: 2rem;
            border: 1px solid $color-two;
            width: 90%;
            margin: 2rem auto;
            text-align: center;
            border-radius: 1rem;

            &:hover {
                cursor: pointer;
                background-image: linear-gradient(to right, rgba($color-two, .3), rgba($color-two, .3));
                color: $color-two;
            }
        }
    }
}

.calendar {
    padding: 1rem;
    text-align: center;

    &__header-row {
        padding: 1rem;

        &__header {
            display: inline-block;
            font-size: 2.5rem;
            min-width: 20%;
            max-width: 20%;
            padding: 1rem;
            vertical-align: top;
        }

        &__button {
            display: inline-block;
            text-align: center;

            & img {
                width: 50%;
                border-radius: 3rem;
                padding: 1rem;

                &:hover {
                    cursor: pointer;
                    background-image: linear-gradient(to right, rgba($color-two, .6), rgba($color-two, .6));
                }
            }


        }
    }

    &__days {
        
        &__day {
            box-sizing: border-box;
            padding: 1rem;
            display: inline-block;
            width: 13%;
            border: 1px solid $color-two;
        }
    }

    &__blocks-row {
        
    }

    &__block {
        box-sizing: border-box;
        padding: 1rem;
        display: inline-block;
        width: 13%;
        min-height: 10rem;
        max-height: 10rem;
        border: 1px solid $color-two;
        text-align: left;
        font-size: 1.5rem;

        &:hover {
            cursor: pointer;
        }

        &__day {
            font-size: 2rem;
        }

        &__calories {
            color: $color-two;
            @include respond(tab-port) {
                font-size: 1.2rem;
                color: $color-font;
            }
            @include respond(phone) {
                font-size: 0rem;
                visibility: hidden;
            }
        }

        &__weight {
            color: $color-two;
            @include respond(tab-port) {
                font-size: 1.2rem;
                color: $color-font;
            }
            @include respond(phone) {
                font-size: 0rem;
                visibility: hidden;
            }
        }
    }
}

.list-view {
    border: 1px solid $color-two;
    border-radius: 1rem;
    
    &__ul {
        overflow-y: auto;
        max-height: 70vh;
    }

    &__data {
        font-size: 2rem;
        display: flex;
        flex-direction: row;
        padding: .5rem 1rem;

        &:hover {
            background-color: $color-two;
            cursor: pointer;
        }

        &__date {
            margin-left: 5rem;
            width: 33%;
        }

        &__calories {
            width: 33%;
            text-align: center;

        }

        &__weight {
            width: 33%;
            text-align: center;

        }
    }
}

.add {

    &__form {

        &__header {
            font-size: 2.5rem;
        }
    }

    &__label {
        font-size: 2rem;
    }

    &__date {
        margin: 1rem;
        font-size: 2rem;
    }
}