.settings {
    background: url('../images/dashboard-background.png');
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    font-family: 'Audiowide', cursive;

    &__overlay {
        background-image: linear-gradient(to right, rgba($color-one, .6), rgba($color-one, .6));
        height: 100vh;
        width: 100vw;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__left {
        height: 50vh;
        margin: 15rem 3rem;
        width: 25%;
        padding: 5rem;
        font-size: 2rem;
        border: 1px solid $color-two;
        border-radius: 1rem;

        @include respond(phone) {
            width: 50%;
        }
    }

    &__right {
        height: 50vh;
        margin: 15rem 3rem;
        width: 50%;
        padding: 5rem;
        font-size: 2rem;
        border: 1px solid $color-two;
        border-radius: 1rem;
    }

    &__options {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__item {
            padding: 1rem;

            &:hover {
                cursor: pointer;
            }
        }

        &__button {
            font-size: 1.75rem;
            display: inline-block;
            padding: 2rem;
            border: 1px solid $color-two;
            width: 100%;
            text-align: center;
            margin: 1rem .5rem;
            border-radius: 1rem;
            background: none;
            color: $color-font;
            font-family: 'Audiowide', cursive;

            &:hover {
                cursor: pointer;
                background-image: linear-gradient(to right, rgba($color-two, .3), rgba($color-two, .3));
                color: $color-two;
            }

            &__selected {
                background: $color-two;

                &:hover {
                    cursor: pointer;
                    color: $color-font;
                }
            }
        }

        &__change-goals {

            &__header {
                font-size: 3rem;
                margin-bottom: 2rem;
            }

            &__select {
                padding: 1rem;
                width: 20rem;
                font-size: 2rem;
                background-color: $color-one;
                color: $color-font;
                border: 1px solid $color-two;
                margin-bottom: 2rem;

            }

            &__description {
                
            }
        }

        &__change-password {

            &__header {
                font-size: 3rem;
                margin-bottom: 2rem;
            }

            &__form {

            }

            &__label {

            }

            &__input {
                padding: 1rem;
                width: 20rem;
                font-size: 2rem;
                background-color: $color-one;
                color: $color-font;
                border: 1px solid $color-two;
                margin-bottom: 1rem;
            }

            &__button {
                width: 20rem;
                padding: 1.5rem;
            }

            &__description {

            }
        }
    }
}